<!DOCTYPE html>
<html lang="es">
    <head>
        <title>UTamLeague Overlay</title>
        <link href="./style.css" rel="stylesheet" />
    </head>
    <body>
        <header class="header" id="header__container">
            <div class="header__blue-container header__blue--hidden" id="header__blue">
                <img class="header__blue-logo team-logo" id="blue_logo" src="img/Logo_Blue.png" alt="Logo Equipo Azul">
                <span class="header__blue-name" id="blue_name"></span>
                <span class="header__blue-score" id="blue_score"></span>
            </div>
            <div class="header__timer-container header__timer--hidden" id="header__timer">
                <span class="timer-container__patch" id="patch"></span>
                <span class="timer-container__timer" id="timer"></span>
                <span class="timer-container__phase" id="phase"></span>
            </div>
            <div class="header__red-container header__red--hidden" id="header__red">
                <span class="header__red-score" id="red_score"></span>
                <span class="header__red-name" id="red_name"></span>
                <img class="header__red-logo team-logo" id="red_logo" src="img/Logo_Red.png" alt="Logo Equipo Rojo">
            </div>
        </header>
        <main class="main">
            <ul class="picks_blue picks picks__hidden" id="picks_blue"></ul>
            <ul class="picks_red picks picks__hidden" id="picks_red"></ul>
        </main>
        <footer class="footer" id="footer">
            <ul class="bans_blue bans bans__hidden" id="bans_blue"></ul>
            <ul class="bans_red bans bans__hidden" id="bans_red"></ul>
        </footer>

        <script src="../../frontend/frontend-lib.js"></script>
        <script src="./script.js"></script>
    </body>
</html>
