@import url('https://fonts.googleapis.com/css2?family=Kodchasan&family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /*background-image: url('img/background.jpg');*/
    background-size: 100vw;
}

:root {
    --bar-height: 150px;
    --bar-text-width: 660px;
    --bar-timer-width: 170px;
    --bar-middle-width: 200px;
    --bar-big-text-size: 80px;

    --bar-blue-text-margin: 0 0 0 30px;
    --bar-red-text-margin: 0 30px 0 0;

    /* --debug-color-green: rgba(0, 255, 0, 0.5); */
}

.header {
    display: flex;
    width: 100vw;
    height: 128px;
    color: #FFF;
    font-family: 'Krona One';
    overflow: hidden;
    transition: background-color 2s;
}

.header--bg-color{
    background-color: #210E38;
}

/** HEADER - BLUE SIDE */
.header__blue-container {
    width: 800px;
    background-color: #101596;
}

/** TIMER */
.header__timer-container {
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    transition: transform 1s;
}

.timer-container__timer {
    font-size: 48px;
}

/** HEADER - RED SIDE */
.header__red-container {
    width: 800px;
    background-color: #128E3C;
}

/** HEADER BOTH TEAMS */

.team-logo {
    height: 128px;
}

.header__blue-container,
.header__red-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.5em;
    padding-right: 1.5em;
    box-shadow: inset 0 0 23px 5px rgba(0, 0, 0, .25);
    transition: transform 1s;
}

.header__blue-name,
.header__red-name {
    font-size: 48px;
}

.header__blue-score,
.header__red-score {
    font-size: 64px;
}

.timer-container__patch,
.timer-container__phase {
    font-family: 'DM Sans';
    font-size: 18px;
}

.header__blue--hidden {
    transform: translateX(-100%);
}

.header__timer--hidden {
    transform: translateY(-100%);
}

.header__red--hidden {
    transform: translateX(100%);
}

/** BODY */

.main {
    width: 100vw;
    height: 800px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.picks {
    width: 480px;
    height: 800px;
    margin: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
}
/*
.picks_blue,
.picks_red {
    transition: transform 1s;
}*/

.picks__item {
    width: 100%;
    height: 160px;
    position: relative;
    background-color: rgba(33, 14, 56, .71);
    overflow: hidden;
    z-index: -100;
    transition: transform 1s;
}

.border {
    width: 460px;
    height: 1px;
    position: absolute;
    bottom: 0;
    background-color: #565656;
    z-index: 100;
}

.picks_red .border {
    right: 0;
}

.picks__item:nth-child(5) .border {
    display: none;
} 

.picks__fig {
    width: 100%;
    height: 100%;
    margin: 0;
}

.picks__img {
    display: block;
    position: relative;
    width: 150%;
    bottom: 30%;
    right: 40%;
    object-fit: cover;
    z-index: -50;
}

.picks_blue .picks__img{
    transform: rotateY(180deg)
}

.picks_red .picks__img {
    right: 10%;
}

.picks_blue .dark_bg::after {
    content: "";
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    position: absolute;
    z-index: 50;
    background-image: linear-gradient(to left, rgba(0, 0, 0, .8), rgba(0, 0, 0, .12) 40%);
 }

 .picks_red .dark_bg::after {
    content: "";
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    position: absolute;
    z-index: 50;
    background-image: linear-gradient(to right, rgba(0, 0, 0, .8), rgba(0, 0, 0, .12) 40%);
 }

.picks__summoner-name {
    position: absolute;
    right: 20px;
    bottom: 10px;
    font-family: 'Impact';
    font-size: 32px;
    text-transform: uppercase;
    color: #FFF;
    z-index: 60;
}

.picks__champion-name {
    position: absolute;
    right: 20px;
    top: 10px;
    font-family: 'Kodchasan';
    font-size: 24px;
    color: #FFF;
    z-index: 60;
}

.picks_red .picks__summoner-name {
    position: absolute;
    left: 20px;
    bottom: 10px;
    font-family: 'Impact';
    font-size: 32px;
    text-transform: uppercase;
    color: #FFF;
}

.picks_red .picks__champion-name {
    position: absolute;
    left: 20px;
    top: 10px;
    font-family: 'Kodchasan';
    font-size: 24px;
    color: #FFF;
}

.picks_blue.picks__hidden {
    transform: translateX(-100%);
    
}

.picks_red.picks__hidden {
    transform: translateX(100%);
}

.picks_blue .pick__hidden {
    transform: translateX(-100%);
}

.picks_red .pick__hidden{
    transform: translateX(100%);
}

.picks-blue--active {
    background: linear-gradient(to right top, rgb(28, 52, 177), rgba(28, 52, 177, .1) 50%);
    animation: opacityOn 4s normal infinite;
}

.picks-red--active {
    background: linear-gradient(to left top, rgb(18, 142, 60), rgba(18, 142, 60, .1) 50%);
    animation: opacityOn 4s normal infinite;
}

.picks__bg,
.bans__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -100;
}

/** Animation transition picks */
.picks_item_0 {
    transition-delay: 200ms;
}
.picks_item_1 {
    transition-delay: 300ms;
}
.picks_item_2 {
    transition-delay: 400ms;
}
.picks_item_3 {
    transition-delay: 500ms;
}
.picks_item_4 {
    transition-delay: 600ms;
}

@keyframes opacityOn {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/** FOOTER */

.footer {
    width: 100vw;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.bans {
    width: 520px;
    padding-left: 0;
    margin: 0;
    display: flex;
    list-style: none;
}

.bans_blue,
.bans_red {
    transition: transform 1s;
}

.bans__hidden {
    transform: translateY(100%);
}

.bans_blue {
    margin-left: 20px;
}

.bans_red {
    margin-right: 20px;
}

.bans_red.bans {
    flex-direction: row-reverse;
}

.bans_blue .bans__item:nth-child(4) {
    margin-left: 20px;
}

.bans_red .bans__item:nth-child(4) {
    margin-right: 20px;
}

.bans_blue .bans__hidden-border {
    border-right: 1px solid #565656;
}

.bans_red .bans__hidden-border {
    border-left: 1px solid #565656;
}

.bans__item {
    position: relative;
    width: 100px;
    height: 100px;
    margin-right: 1px;
    background-color: rgba(35, 35, 35, .1);
    overflow: hidden;
    z-index: -100;
}

.bans__stick {
    position: absolute;
    width: 48px;
    height: 1px;
    top: 50%;
    left: 25%;
    background-color: rgb(141, 141, 141);
    transform: rotate(45deg);
}

.bans__img {
    width: 100px;
    position: relative;
    z-index: 100;
}

.bans-blue--active {
    background: linear-gradient(to top, rgb(28, 52, 177), rgba(28, 52, 177, .1) 60%);
    animation: opacityOn 4s normal infinite;
}

.bans-red--active {
    background: linear-gradient(to top, rgb(18, 142, 60), rgba(18, 142, 60, .1) 60%);
    animation: opacityOn 4s normal infinite;
}